<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

  <!-- META DATA -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="UTF-8">
  <title>Weiss Tech House</title>
    <meta name="description" content="Student Entrepreneurship Organization at The University of Pennsylvania"/>
    <meta name="keywords" content="Entrepreneurship, Startup, Venture Capital, Students"/>
    <meta name="author" content="Weiss Tech House"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- GOOGLE WEB FONTS INCLUDE -->
  <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <!-- JARVIS THEME STYLESHEETS -->
     
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" type="text/css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/skeleton.css" type="text/css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css">    
  <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/social.css" type="text/css">             
  <link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css"> 
  <link rel="stylesheet" href="{{STATIC_URL}}css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->  
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->    
  <link rel="stylesheet" href="{{STATIC_URL}}css/shortcodes.css" type="text/css"/>  
  <link rel="stylesheet" href="{{STATIC_URL}}css/media.css" type="text/css"><!-- Media Queries -->         
    
  <link rel="stylesheet" href="{{STATIC_URL}}files/themes_panel/themes_panel.css" type="text/css"><!-- Theme Panel -->      
    
    <link id="layout_color" href="{{STATIC_URL}}css/light.css" rel="stylesheet" type="text/css"/>  
    <link id="primary_color_scheme" href="{{STATIC_URL}}css/colors/tomato.css" rel="stylesheet" type="text/css"/>   
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">     
    <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
       
    
</head>

<body class="onepage">
 <div id="load"></div>
 
    {% include "banner.html" %}     
    
    <!-- START PAGE WRAP -->    
    <div class="page-wrap">
    
    
  <!-- START HOME SECTION -->    
  <div id="home" class="home-parallax" style="background-size:100%;">
      <div class="home-text-wrapper">
           <div id="home-slider" class="flexslider" style="margin-bottom: 400px;">      
                <ul class="slides styled-list">
                
                <li class="home-slide"><p class="home-slide-content">We are the <span class="highlight">Weiss Tech House</span></p></li>
                
                </ul>
           </div><!-- END FLEXSLIDER -->
        </div><!-- END HOME TEXT WRAPPER -->
     </div><!-- END HOME SECTION -->
  
  
  
    <!-- START NAVIGATION -->
    <nav class="dark" style="background: black;">
     <!-- START CONTAINER --> 
      <div class="container clearfix">      
          <div class="four columns">      
              <!-- START LOGO --> 
              <div class="logo large">
               <a href="#home"><img src="{{STATIC_URL}}images/WTH_logo.png" style="max-height: 80px;" title="logo" alt="logo"/></a>
              </div>
              <!-- END LOGO -->     
          </div><!-- END FOUR COLUMNS -->   
          
                   
          <div class="twelve columns">                
              <!-- START NAVIGATION MENU ITEMS -->
              <ul class="main-menu large" id="nav">
                  <li><a href="#home">Home</a></li>                
                  <li><a href="#about">About</a></li>
                  <li><a href="#event">Events</a></li>   
                  <li><a href="#committees">Committees</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#portfolio">Portfolio</a></li>
                  <!-- <li><a href="#">Blog</a></li>                   -->
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="http://weisstech.upenn.edu/reserve">Reserve Room</a></li>
              </ul>
              <!-- END NAVIGATION MENU ITEMS -->        
          </div><!-- END TWELVE COLUMNS --> 
      </div><!-- END CONTAINER -->  
    </nav>
    <!-- END NAVIGATION -->

  
  <!-- START ABOUT US SECTION --> 
  <div id="about" class="fullwidth grey" style="padding-bottom: 0px;margin-top: 0px;">
  
    <div class="container"> 
           <div class="row">  
      <div class="sixteen columns">            
              <!-- START TITLE -->              
        <div class="title">
          <h1>About Us</h1>
                  <div class="subtitle">
                      <h2>We are a <span class="highlight">student-run</span> hub of technological innovation at the <span class="highlight">University of Pennsylvania</span>.
                      </h2>
                      <br>
                      <p> Since 2003, students with a broad range of interests and skills have come here to explore, collaborate and learn as part of our community of innovators and entrepreneurs.</p>
                      <br>
                      <p>We encourage and support students with everything from development to commercialization, helping them bring their biggest ideas to life.</p>
                  </div><!-- END SUBTITLE -->
                </div><!-- END TITLE -->                               
      </div><!-- END SIXTEEN COLUMNS -->  
           </div><!-- END ROW -->         
          </div><!-- END CONTAINER --> 
    </div><!-- End ABOUT US SECTION -->     
          
<div id="event" class="page" >

    <div class="container"> 
        <div class="row">  
          <div class="sixteen columns">            
                <!-- START TITLE -->              
            <div class="title">
              <h1>Events</h1>

              <div class="subtitle">
                <p>Check out some of the upcoming events at the <span class="highlight">Weiss Tech House</span>. <br>
                  Take your pick from the <span class="highlight">buffet</span>.</p>
              </div><!-- END SUBTITLE -->
            </div><!-- END TITLE -->                               
          <div class="Flexible-container">

            <iframe src="https://www.google.com/calendar/embed?src=5j26m615tjipkli5af1tquh734%40group.calendar.google.com&ctz=America/New_York&mode=AGENDA" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          

          </div>
        </div><!-- END SIXTEEN COLUMNS -->  
      </div><!-- END ROW -->         
    </div><!-- END CONTAINER -->         
</div>




<div id="committees" class="fullwidth grey">       

  <div class="container">  
        <div class="title">       
          <h1>What do we do?</h1>
          <div class="subtitle">
            <p>We encourage and support students in the <span class="highlight">creation</span>, <span class="highlight">development</span> and <span class="highlight">commercialization</span> of innovative technologies.
            </p>
          </div>
      </div>
           
         <div class="row">          
                <div class="one-third column">
                  <div class="service-features">
                  <div class="img-container" style="padding: 0px; width: 70%">
                    <img src="{{STATIC_URL}}images/icons/icons/paperplane.png" alt="Service Features" style="margin: 20px;">
                  </div>  
                    <h3>Innovate</h3>                
                  </div>               
                </div><!-- END ONE THIRD COLUMN -->
                
                <div class="one-third column">
                  <div class="service-features">
                  <div class="img-container" style="padding: 0px; width: 70%">
                    <img src="{{STATIC_URL}}images/icons/icons/lab.png" alt="Service Features" style="margin: 20px;">
                  </div>                   

                    <h3>Experiment</h3>                
                  </div>               
               
                </div><!-- END ONE THIRD COLUMNS -->   
                
                <div class="one-third column">
                  <div class="service-features">
                  <div class="img-container" style="padding: 0px; width: 70%">                  
                    <img src="{{STATIC_URL}}images/icons/icons/like.png" alt="Service Features" style="margin: 20px;">
                  </div>
                    <h3>Perfect</h3>                
                  </div>               
                
                </div><!-- END ONE THIRD COLUMNS -->                                 
         </div><!-- END ROW -->                               
  </div><!-- END CONTAINER --> 
</div>

<div class="page" style="margin-bottom: 0px;">   

    <div class="container">

      {% if committees %}
        {% for committee in committees %}

          {% if forloop.counter|divisibleby:4 or forloop.counter == 1 %}<!-- BEGIN ROW --><div class="row">{% endif %}
          {% if forloop.counter == 1%}<h2 style="text-align: center; ">The Weiss Tech House is made up of 6 individual committees, each with their own projects and specialties.</h2>{% endif %}
            <!-- BEGIN COMMITTEE -->
            <div class="one-third column">
                    <!-- START service-box -->
              <div class="service-box" style="min-height: 460px">
                       <!-- START ICON -->
                         <div>
                            <h3>{{ committee.name }}</h3><!-- END service-box TITLE -->
                            <i class="fa {{ committee.icon }} fa-5x"></i>
                         </div>
                       <!-- END ICON -->  
                       
                      <!-- START service-box DESCIPTION --> 
                      <div class="service-description">
                         <p></p><!-- END service-box DESCRIPTION --> 
                      </div>
                      <!-- START service-box DESCIPTION --> 
                      <h6>What we do</h6>
                         <ul class="styled-list">
                          <li>{{ committee.text_1 }}</li>
                          <li>{{ committee.text_2 }}</li>
                          <li>{{ committee.text_3 }}</li>
                         </ul>
              </div> <!-- END service-box -->                                   
            </div> <!-- END ONETHIRD COLUMN --> 
            <!-- END COMMITTEE -->
          {% if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- END ROW -->{% endif %}
        {% endfor %}
      {% endif %}
                  
     </div>  <!-- END ROW --> 
    </div> <!-- END CONTAINER -->              
</div>

<div class="fullwidth grey" style="margin-bottom: 0px;">        
        <div class="container clearfix">  

            <div class="row">
               <div class="sixteen columns">
                 <h2 style="text-align: center; ">Weiss Tech House by the Numbers</h2>
               </div><!-- END SIXTEEN COLUMNS -->
               
               <div class="four columns">
                 <div class="milestone-counter" data-perc="6">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Prototype Project Bays</h6>
                 </div>
               </div><!-- END FOUR COLUMNS -->  
               
               <div class="four columns">
                 <div class="milestone-counter" data-perc="50">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Industry Mentors</h6>
                 </div>
               </div><!-- END FOUR COLUMNS --> 
               
               <div class="four columns">
                 <div class="milestone-counter" data-perc="100">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Teams participated in PennVention</h6>
                 </div>
               </div><!-- END FOUR COLUMNS -->

               <div class="four columns">
                 <div class="milestone-counter" data-perc="30000">
                   <span class="highlight" style="font-family: 'Open Sans', 'Times New Roman', Times, serif; font-size: 80px;">$</span><span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">in Student Funding</h6>
                 </div>
               </div><!-- END FOUR COLUMNS -->                                                                                    
           </div><!-- END ROW -->
    </div><!-- END CONTAINER --> 
</div>
  
  <!-- START PARALLAX SECTION --> 
  <div id="parallax1" class="parallax">
    <div class="bg1 parallax-bg" style="background-image: url(/static/images/parallax/circuit_img_vertical.jpg)"></div><!-- END PARALLAX BACKGROUND -->
    <div class="overlay"></div><!-- END PATTERN OVERLAY -->
    <div class="container clearfix">
      <div class="parallax-content">
        <p class="quote"><i class="icon-quote-left"></i>The Weiss Tech House is an excellent resources for student entrepreneurs because it provides an excellent safety net of knowledge and resources outside of the Penn community<i class="icon-quote-right"></i></p>
        <div class="quote-author">--  Francisco Martin-Ramos (Wharton ’06) Inventor of VuShare --</div>
      </div><!-- END PARALLAX CONTENT -->
    </div><!-- END CONTAINER -->
  </div>
  <!-- END PARALLAX SECTION -->

  {% include "team.html" %} 
  

  
  
  <!-- START PARALLAX SECTION -->
  <!--
  <div id="navigate" class="parallax">
        <div class="bg2 parallax-bg"></div>
        <div class="overlay"></div>
        <div class="container clearfix">
          <div class = "parallax-content animated fadeInUp" id="one">
              <div class="col-xs-3 custom" id="one1">
                <h2 class="txt-center">Team</h2>
              </div>

              <div class="col-xs-3 custom" id="one2">
                <h2 class="txt-center">Events</h2>
              </div>

              <div class="col-xs-3 custom" id="one3">
                <h2 class="txt-center">Services</h2>
              </div>

              <div class="col-xs-3 custom" id="one4">
                <h2 class="txt-center">Portfolio</h2>
              </div>
            </div>
          --><!-- 1st link -->
          <!--
          <div class = "parallax-content animated fadeOutUp hidden" id="two">
            <div class="row">
              <div class="col-xs-3 custom" id="two1">
                <a href="https://google.com">
                  <h2 class="txt-center">Brent</h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="two2">
                <a href="https://google.com">
                  <h2 class="txt-center">Grace</h2>
                </a>
              </div>

              <div class="col-xs-3 custom"id="two3">
                <a href="https://google.com">
                  <h2 class="txt-center">Raghav</h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="two4">
                <a href="https://google.com">
                  <h2 class="txt-center">Defu</h2>
                </a>
              </div>
            </div>
          <div class = "row">
            <img src="{{STATIC_URL}}images/arrow.png" id='arrow2' class='arrow'>
          </div>
        </div>
        --><!-- 2nd link -->
        <!--
        <div class = "parallax-content animated fadeOutUp hidden" id="three">
            <div class="row">
              <div class="col-xs-3 custom" id="three1">
                <a href="https://google.com">
                  <h2 class="txt-center">Talk<br><br></h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="three2">
                <a href="https://google.com">
                  <h2 class="txt-center">Founder Dating</h2>
                </a>
              </div>

              <div class="col-xs-3 custom"id="three3">
                <a href="https://google.com">
                  <h2 class="txt-center">Pitch Training</h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="three4">
                <a href="https://google.com">
                  <h2 class="txt-center">Hackathons<br><br></h2>
                </a>
              </div>
            </div>
          <div class = "row">
            <img src="{{STATIC_URL}}images/arrow.png" id='arrow3' class='arrow'>
          </div>
        </div>
        --><!-- 3rd link -->
        <!--
        <div class = "parallax-content animated fadeOutUp hidden" id="four">
            <div class="row">
              <div class="col-xs-3 custom" id="four1">
                <a href="https://google.com">
                  <h2 class="txt-center">Match Making</h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="four2">
                <a href="https://google.com">
                  <h2 class="txt-center">Fund Raising</h2>
                </a>
              </div>

              <div class="col-xs-3 custom"id="four3">
                <a href="https://google.com">
                  <h2 class="txt-center">Pennvention<br><br></h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="four4">
                <a href="https://google.com">
                  <h2 class="txt-center">Counselling<br><br></h2>
                </a>
              </div>
            </div>
          <div class = "row">
            <img src="{{STATIC_URL}}images/arrow.png" id='arrow4'class='arrow'>
          </div>
        </div>
        --><!-- 4th link -->
        <!--
        <div class = "parallax-content animated fadeOutUp hidden" id="five">
            <div class="row">
              <div class="col-xs-3 custom" id="five1">
                <a href="https://google.com">
                  <h2 class="txt-center">AirBnB</h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="five2">
                <a href="https://google.com">
                  <h2 class="txt-center">Dropbox</h2>
                </a>
              </div>

              <div class="col-xs-3 custom"id="five3">
                <a href="https://google.com">
                  <h2 class="txt-center">Stripe</h2>
                </a>
              </div>

              <div class="col-xs-3 custom" id="five4">
                <a href="https://google.com">
                  <h2 class="txt-center">Twitch.tv</h2>
                </a>
              </div>
            </div>
          <div class = "row">
            <img src="{{STATIC_URL}}images/arrow.png" id='arrow5' class='arrow'>
          </div>
        </div>

        </div>--><!-- END CONTAINER -->
        <!--
     </div>-->
    <!-- END PARALLAX SECTION -->


  
  <!-- START PARALLAX SECTION -->
  <div id="parallax4" class="parallax">
        <div class="bg4 parallax-bg"></div><!-- END PARALLAX BACKGROUND -->
        <div class="overlay"></div><!-- END PATTERN OVERLAY -->
        <div class="container clearfix">
                <div class="parallax-content">
         <!-- START Events -->
         <div class="contact-details" style="width: 80%">
          <a href="mailto:info@tech-house.upenn.edu">
            <h1 style="font-size:50px; margin-bottom: 10px">info@tech-house.upenn.edu</h1>
          </a>
           <h1 style="font-size:50px; margin-bottom: 10px">Phone: (215) 573-0513</h1>
           <h1 style="font-size:50px;">Levine Hall, Rm 266<br>3330 Walnut Street<br>Philadelphia, PA 19104</h1>
           <h3>Academic Year Hours: Monday - Thursday: 9AM - 11PM; Friday: 9AM - 5PM</h2>
           <h3>Summer Hours: Monday - Friday: 10AM - 4PM</h2>
        </div>      
      <!-- END CONTACT DETAILS -->
                </div><!-- END PARALLAX CONTENT -->
            </div><!-- END CONTAINER -->
     </div>
    <!-- END PARALLAX SECTION --> 
      <!-- START COPYRIGHT SECTION -->    
       <div id="contact" class="copyright">
      <div class="container clearfix">
        <div class="sixteen columns">   
        <div class="copyright-logo"><a href="#"><img src="{{STATIC_URL}}images/WTH_logo.png" width="80" title="logo" alt="logo"></a></div>   
           <div class="social-icons">
              <div class="social-icon social-facebook"><a href="https://www.facebook.com/weisstech" target="_blank" data-original-title="Facebook">Facebook</a></div>
           </div>
       <p>&copy; 2015 All Rights Reserved. Made by the Platform Team at the Weiss Tech House. Licensed from RocknRolla.</p>
            
         </div> <!-- END SIXTEEN COLUMNS -->        
    </div><!-- END CONTAINER -->
     </div>
     <!-- END COPYRIGHT SECTION -->  
  
   </div><!-- END PAGE WRAP -->

  <!-- JARVIS THEME SCRIPTS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.queryloader2.js"></script>        
    <script type="text/javascript" src="{{STATIC_URL}}js/modernizr-2.6.2.min.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fitvids.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.appear.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.slabtext.min.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fittext.js"></script>   
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.parallax-1.1.3.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.sticky.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/selectnav.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}js/SmoothScroll.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.flexslider-min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}js/isotope.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-modal.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/shortcodes.js"></script>        
  <script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>               
  <script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>               
    <script src="https://api.twitter.com/1/statuses/user_timeline/envato.json?callback=twitterCall&amp;count=4"></script>              
    <!-- Themes Panel -->
    <script src="{{STATIC_URL}}files/themes_panel/themes_panel.js"></script>
    <!-- /Themes Panel -->                
    
</body>

</html>
