<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

	<!-- META DATA -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8">
	<title>Weiss Tech House</title>
    <meta name="description" content="Student Entrepreneurship Organization at The University of Pennsylvania"/>
    <meta name="keywords" content="Entrepreneurship, Startup, Venture Capital, Students"/>
    <meta name="author" content="Weiss Tech House"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- GOOGLE WEB FONTS INCLUDE -->
	<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <!-- JARVIS THEME STYLESHEETS -->
     
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" type="text/css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/skeleton.css" type="text/css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css">    
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/social.css" type="text/css">             
	<link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css">	
	<link rel="stylesheet" href="{{STATIC_URL}}css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->	
	<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->    
	<link rel="stylesheet" href="{{STATIC_URL}}css/shortcodes.css" type="text/css"/> 	
	<link rel="stylesheet" href="{{STATIC_URL}}css/media.css"><!-- Media Queries -->         
    
 	<link rel="stylesheet" href="{{STATIC_URL}}files/themes_panel/themes_panel.css"><!-- Theme Panel -->      
    
    <link id="layout_color" href="{{STATIC_URL}}css/light.css" rel="stylesheet" type="text/css"/>  
    <link id="primary_color_scheme" href="{{STATIC_URL}}css/colors/tomato.css" rel="stylesheet" type="text/css"/>   
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">     
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		   
    
</head>

<body class="onepage">
 <div id="load"></div>
 

    	
    
    <!-- START PAGE WRAP -->    
    <div class="page-wrap" style="height: 100%; background: #f5f5f5;">
	
	
	
    <!-- START NAVIGATION -->
    <nav class="dark" style="background: black;">
     <!-- START CONTAINER -->	
      <div class="container clearfix">			
          <div class="four columns">			
              <!-- START LOGO -->	
              <div class="logo large">
               <a href="/#home"><img src="{{STATIC_URL}}images/WTH_logo.png" style="max-height: 80px;" title="logo" alt="logo"/></a>
              </div>
              <!-- END LOGO -->			
          </div><!-- END FOUR COLUMNS -->   
          
                   
          <div class="twelve columns">            		
              <!-- START NAVIGATION MENU ITEMS -->
              <ul class="main-menu large" id="nav">
                  <li><a href="/#home">Home</a></li>                
                  <li><a href="/#about">About</a></li>
                  <li><a href="/#event">Events</a></li>   
                  <li><a href="/#committees">Committees</a></li>
                  <li><a href="/#team">Team</a></li>
                  <li><a href="/#portfolio">Portfolio</a></li>
                  <!-- <li><a href="#">Blog</a></li>                   -->
                  <li><a href="/#contact">Contact</a></li>
              </ul>
              <!-- END NAVIGATION MENU ITEMS -->				
          </div><!-- END TWELVE COLUMNS -->	
      </div><!-- END CONTAINER -->	
    </nav>
    <!-- END NAVIGATION -->

	
	<!-- START ABOUT US SECTION -->	
	<div id="about" class="fullwidth grey" style="padding-bottom: 0px;margin-top: 0px;">
	
		<div class="container">	
           <div class="row">	
			<div class="sixteen columns">            
	            <!-- START TITLE -->	            
				<div class="title">
				  <h1>Welcome to the WTH</h1>
            <div id="contact-form">
              <form action="#" method="post">
                  {% csrf_token %}     
                  <div id="contact-input" style="float: none; display: inline-block; text-align: center;">
                   <!--[if IE]>
                      <label for="name">Name</label>
                  <![endif]-->
                    <input type="text" name="email" id="email" placeholder="Email" style="display: inline-block; float:none;">
                     <!--[if IE]>
                        <label for="email">Email</label>
                      <![endif]-->
                    <input type="password" name="password" id="password" placeholder="Password" style="display: inline-block; float:none;">

                    <input type="password" name="confirm_password" id="email" placeholder="Confirm your password" style="display: inline-block; float:none;">

                    <input type="text" name="first_name" id="email" placeholder="First Name" style="display: inline-block; float:none;">

                    <input type="text" name="last_name" id="email" placeholder="Last Name" style="display: inline-block; float:none;">

                    <input type="text" name="address1" id="email" placeholder="Address 1" style="display: inline-block; float:none;">

                    <input type="text" name="address2" id="email" placeholder="Address 2" style="display: inline-block; float:none;">

                    <input type="text" name="city" id="email" placeholder="City" style="display: inline-block; float:none;">

                    <input type="text" name="state" id="email" placeholder="State" style="display: inline-block; float:none;">

                    <input type="text" name="zip_code" id="email" placeholder="Zip" style="display: inline-block; float:none;">

                    <input type="text" name="country" id="email" placeholder="Country" style="display: inline-block; float:none;">

                    <input type="text" name="school" id="email" placeholder="School" style="display: inline-block; float:none;">

                    <input type="text" name="major" id="email" placeholder="Major" style="display: inline-block; float:none;">

                    <input type="number" name="grad_year" id="email" placeholder="Graduation Year" style="display: inline-block; float:none;">

                  </div>
                  <div id="contact-submit" style= "display: inline-block; float: none; text-align: center; overflow: hidden; margin-bottom: 13px; width: 90%;">
                    <div>
                      <input name="submit" type="submit" id="submit" tabindex="5" value="Sign Up" class="comment-submit small button" style="float: none; display: inline-block;">
                    </div>
                  </div>
                </form> 
                <div class="clear"></div>
            </div>
            <div>
              <h3>Already have an account yet? <a href="/login">Login</a></h3>
            </div>
        </div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
           </div><!-- END ROW -->         
          </div><!-- END CONTAINER --> 
    </div><!-- End ABOUT US SECTION -->     
          
	
   </div><!-- END PAGE WRAP -->

	<!-- JARVIS THEME SCRIPTS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.queryloader2.js"></script>        
    <script type="text/javascript" src="{{STATIC_URL}}js/modernizr-2.6.2.min.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fitvids.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.appear.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.slabtext.min.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fittext.js"></script>   
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.sticky.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/selectnav.min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}js/SmoothScroll.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.flexslider-min.js"></script>    
    <script type="text/javascript" src="{{STATIC_URL}}js/isotope.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-modal.js"></script>   
    <script type="text/javascript" src="{{STATIC_URL}}js/shortcodes.js"></script>        
  <script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>               
	<script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>               
    <script src="https://api.twitter.com/1/statuses/user_timeline/envato.json?callback=twitterCall&amp;count=4"></script>              
    <!-- Themes Panel -->
    <script src="{{STATIC_URL}}files/themes_panel/themes_panel.js"></script>
    <!-- /Themes Panel -->                
  	
</body>

</html>