  <!-- START TEAM SECTION --> 
  <div id="team" class="page" style="padding-bottom:30px;">
    
    <div class="container"> 
    <div class="row">  
      <div class="sixteen columns">            
              <!-- START TITLE -->              
        <div class="title">
          <h1>Our Team</h1>
          <div class="subtitle">
              <p><span class="highlight">WTH</span> runs by combining student leadership with support from industry experts and <span class="highlight">University of Pennsylvania</span> faculty members.</p>
          </div><!-- END SUBTITLE -->
          </div><!-- END TITLE -->                               
      </div><!-- END SIXTEEN COLUMNS -->  
    </div><!-- END ROW -->       
  </div><!-- END CONTAINER -->            
            

       <div class="fullwidth grey">  
       
        <div class="fancy-header2">       
           <h4>Who are we anyway?</h4>
           <h2 class="highlight">Meet the people who helped build the Weiss Tech House</h2>
        </div>     
                    
          <div class="container"> 
             <div class="row">      
              
              <div class="sixteen columns">               
                  

              {% if team_members %}
                {% for tm in team_members %}
                  <!-- START TEAM MEMBER --> 
                   <div class="team-member">
                      <!-- START TEAM THUMBNAIL -->  
                      <div class="team-thumb img-wrp">
                      
                        <!-- START MEMBER IMAGE --> 
                        <img src="{{ MEDIA_URL }}{{ tm.image }}" alt="team">  
                        <!-- END MEMBER IMAGE --> 
                         <!-- START TEAM OVERLAY -->  
                         <div class="team-overlay">
                            <div class="img-overlay"></div>
                              <!-- START OVERLAY CONTENT -->  
                              <div class="overlay-content">                            
                                
                                <!-- START MEMBER ROLE --> 
                                <h4>{{ tm.role }}</h4>
                                <!-- END MEMBER ROLE --> 
                                
                                <!-- START PROFILE LINK --> 
                                <p><a data-toggle="modal" href="#team-{{ forloop.counter }}" class="modal-popup-link view-profile">View Profile</a></p>
                                <!-- END PROFILE LINK -->  
                             </div><!-- END OVERLAY CONTENT -->  
                             
                        </div><!-- END TEAM OVERLAY -->          
                       </div><!-- END TEAM THUMBNAIL -->  
                                       
                    <!-- START TEAM DESCRIPTION -->  
                    <div class="team-desc">
                      <h4>{{ tm.name }}</h4>
                    </div>  
                    <!-- END TEAM DESCRIPTION -->  
                    
                    
                    
                         
                    <!-- START TEAM MEMBER BIO MODAL POPUP  -->
                     <div id="team-{{ forloop.counter }}" class="modal fade.in animated fadeIn">
                     
                     <!-- START TEAM BIO -->       
                        <div class="member-bio">
                         <div class="container">      
                         
                         <!-- START MODAL POPUP CLOSE BUTTON -->                                     
                         <a href="#" class="close" data-dismiss="modal">×</a>
                         <!-- END MODAL POPUP CLOSE BUTTON -->
                         
                         
                         <!-- START MEMBER NAME AND ROLE --> 
                          <div class="member-role">
                            <h1>{{ tm.name }}</h1>
                            <h4 class="highlight">{{ tm.role }}</h4>
                          </div>
                          <!-- END MEMBER NAME AND ROLE -->  
                          
                          
                          <div class="row">
                            <div class="seven columns">
                              <!-- START MEMBER IMAGE --> 
                              <img src="{{ MEDIA_URL }}{{ tm.image }}" alt="team">  
                              <!-- END MEMBER IMAGE --> 
                              
                            </div><!-- END COLUMN --> 
                            
                            <!-- START MEMBER DESCRIPTION --> 
                            <div class="eight columns member-description">
                            <p class="lead">{{ tm.bio }}</p>

                            </div><!-- END MEMBER DESCRIPTION -->    
                           
                          </div><!-- END ROW -->  
                         </div><!-- END CONTAINER --> 
                      </div><!-- END TEAM BIO -->                     
                  </div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
                 </div><!-- END TEAM MEMBER --> 
                {% endfor %}
              {% endif %}
 
           </div><!-- END SIXTEEN COULMNS --> 
          </div> <!-- END ROW -->     
         </div><!-- END CONTAINER --> 
       </div>

    {% include "alumni.html" %}                

    </div>
    <!-- END TEAM SECTION -->